<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225301763715-7a5j2ab4mavdio79vt48rbr146nq0a42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225301763715-7a5j2ab4mavdio79vt48rbr146nq0a42</string>
	<key>API_KEY</key>
	<string>AIzaSyAe1ydbP-i2_8mSJqwLqFcETBdobBFTq1M</string>
	<key>GCM_SENDER_ID</key>
	<string>225301763715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KitoriWorks.centennialcollege.MAPD711-group10-ToDoList</string>
	<key>PROJECT_ID</key>
	<string>mapd714-assignment2-group10</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd714-assignment2-group10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225301763715:ios:3dd2b1e484fa21ac412db6</string>
</dict>
</plist>